<div class="max-w-3xl mx-auto px-4 sm:px-6 lg:px-8 py-12">
  <div class="mb-8">
    <h1 class="text-3xl font-bold text-gray-900">Edit Category</h1>
  </div>

  <div class="bg-white shadow overflow-hidden sm:rounded-lg p-6">
    <%= render "form", category: @category %>
  </div>
</div>
